## DICTIONARY

In [8]:
X = {"Vishesh": 12, "aman": 13, "rahul" : 51} 
X

{'Vishesh': 12, 'aman': 13, 'rahul': 51}

In [16]:
X["Vishesh"]

12

In [18]:
X ["aman"]

13

In [20]:
X ["rahul"]

51

In [22]:
X.items()

dict_items([('Vishesh', 12), ('aman', 13), ('rahul', 51)])

In [24]:
X.keys()

dict_keys(['Vishesh', 'aman', 'rahul'])

In [47]:
X.values()

dict_values([12, 13, 51])

In [45]:
for y in X.values():
    print(y,end=" ")

12 13 51

## DICTIONARY OPERATOR

In [51]:
d = {'name':'vishesh','gender':'male','age':19}

for i in d:
  print(i,d[i])

name vishesh
gender male
age 19

In [60]:
X = list[{12: "Vishesh",13: "aman",51: "rahul"}] 
X

list[{12: 'Vishesh', 13: 'aman', 51: 'rahul'}]

In [62]:
X =list[{"Vishesh": 12, "aman": 13, "rahul" : 51}] 
X

list[{'Vishesh': 12, 'aman': 13, 'rahul': 51}]

In [68]:
v = {"hello": 22, "world": 21, "pyhton" : 50}
v

{'hello': 22, 'world': 21, 'pyhton': 50}

In [70]:
for y in v.values():
    print(y,end=" ")

22 21 50

In [95]:
f = {"open": 31, "yellow": 33, "red": 44}
f

{'open': 31, 'yellow': 33, 'red': 44}

In [97]:
for y in f.values():
    print(y,end=" ")

31 33 44