# Pandas

.Pandas is a python library using work with data set

.It has function for analyzing cleaning exploring and manipulating data

.Read and write data structure and different formare: csv,json,zip

## Important of python

.pandas allows use to analyse big data and make calculation based on statisticals theory

.pandas can clean messy data set and make them redable relevant

.eassy handling of missing data

.Data set merging and joining.flexible reshaping and pivoting time series functionality

## Data structure in pandas

1:- Series it is deffined as one dimensional array that is cappable for storing various data type

2:-Data frame it is deffined as two dimemsional array that is labeled data structure in the python pandas library

## Series

In [14]:
import pandas as pd

In [18]:
a = pd.Series([1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
# string
a = ['vishesh','sangwan']
pd.Series(a)

0    vishesh
1    sangwan
dtype: object

In [42]:
# string 
marks = [50,60,70,80]
subject = ['english','hindi','maths','english']
pd.Series(marks,index=subject,name='vishesh')

english    50
hindi      60
maths      70
english    80
Name: vishesh, dtype: int64

In [82]:
models = {'volvo':50,'bmw':60,'mahindra':20,'suzuki':33,'maruti' :21, 'hyundai' :100}
models_1=pd.Series(models,name='vishesh')
models_1

volvo        50
bmw          60
mahindra     20
suzuki       33
maruti       21
hyundai     100
Name: vishesh, dtype: int64

In [78]:
models_1.size

6

In [76]:
models_1.dtype

dtype('int64')

In [64]:
models_1.name

'vishesh'

In [80]:
models_1.index

Index(['volvo', 'bmw', 'mahindra', 'suzuki', 'maruti', 'hyundai'], dtype='object')

In [88]:
models_1.is_unique

True