## Tuples
# A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

# In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

# Characterstics

# .Ordered
# .Unchangeble
# .Allows duplicate

## Plan of attack
# .Creating a Tuple
# .Accessing items
# .Editing items
# .Adding items
# .Deleting items
# .Operations on Tuples
# .Tuple Functions

# .Creating Tuples

In [10]:

t1 = ()
print(t1)

t2 = ('Vishesh Sangwan',)
print(t2)
print(type(t2))

t3 = (1,2,3,4)
print(t3)

t4 = (1,2.5,True,[1,2,3])
print(t4)

t5 = (1,2,3,(4,5))
print(t5)

t6 = tuple('VISHESH')
print(t6)

()
('Vishesh Sangwan',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('V', 'I', 'S', 'H', 'E', 'S', 'H')

## Accessing Items
# . Indexing
# . Slicing

In [2]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [3]:
t5[-1][0]

4

## Editing items

In [ ]:
print(t3)
t3[0] = 100

## Adding items

In [11]:
print(t3)
# not possible

(1, 2, 3, 4)

## Deleting items

In [ ]:
print(t3)
del t3
print(t3)

In [13]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
print(t5)
del t5[-1]

## Operations on Tuples

In [14]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)

1 in t1

for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

## Tuple Functions

In [15]:
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [16]:
t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
t.index(50)

## Difference between Lists and Tuples
# .Syntax
# .Mutability
# .Speed
# .Memory
# .Built in functionality
# .Error prone
# .Usability

In [3]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 16.48852562904358
Tuple time 16.87445902824402

In [1]:

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

NameError: name 'sys' is not defined

In [5]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [6]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Why use tuple?

## Special Syntax

In [7]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [8]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [9]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [10]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [11]:
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))